/* style.css */
nav {
    background-color: #eb53a7;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(253, 114, 212);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}
/* Header navigation styling */
header {
    background-color: #f362c8;
    color: rgb(247, 103, 187);
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}
